<div class="container">
  <h1>This is our Sinatra Sandbox</h1>
  <form action="/cool_url" method="GET">
    <input type="text" name="post[title]">
    <input type="text" name="post[price]">
    <textarea name="post[description]"></textarea>
    <input type="submit">
  </form>
  <form action="/cool_url" method="POST">
    <input type="radio" name="post_request">
    <input type="submit">
  </form>

</div>
